<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <div class="content">
        <div id="playlist" class="expandable-list">
          <ion-list-header>Playlist</ion-list-header>
          <app-playlist-track
            *ngFor="let track of playlist"
            [track]="track" (trackSelected)="selectTrack($event)">
          </app-playlist-track>
        </div>

        <youtube-player [videoId]="selectedVideoId"></youtube-player>
      </div>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
