ion-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  --height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.expandable-list {
  flex: 1; /* This is the key to stretching the list */
  overflow-y: auto;
}

youtube-player {
  flex-shrink: 0;
}
