<div class="unified-table ion-padding">
  <ion-toolbar>
    <ion-title>{{ label }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addItemFn?.()">
        <ion-icon slot="start" name="add"></ion-icon>
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.title }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns">{{ row[col.data] }}</td>
        <td>
          <ion-button fill="clear" size="small" (click)="editItemFn?.(row)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" color="danger" (click)="deleteItemFn?.(row)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
