:root {
  /* Backgrounds */
  --ion-background-color: #1e0f0f; // main background
  --ion-toolbar-background: #2d1919; // header and filter bar
  --ion-item-background: #1e0f0f;
  --ion-background-color-100: #1e0f0f3f; // main background

  /* Text Colors */
  --ion-text-color: #b4a0a0c4; // primary text
  --ion-text-color-rgb: #b4a0a0c4;
  --ion-color-step-850: #b4a0a0c4; // secondary text
  --ion-color-step-950: #ffffffc4; // titles/headings
  --ion-text-color-step-850: #b4a0a0c4; // secondary text
  --ion-text-color-step-950: #ffffffc4; // titles/headings

  /* Placeholder */
  --ion-placeholder-color: #887c7c;
  --ion-placeholder-text: #525252;

  /* Inputs & Search */
  --ion-color-input-background: #2d1919;
  --ion-color-input-border: #473737;
  --ion-color-input-text: #f1e9e9;

  /* Cards / Items */
  --ion-card-background: #2a1717;
  --ion-card-border-color: #3b2525;

  /* Buttons / Filters */
  --ion-color-primary: #a14a4a;
  --ion-color-primary-contrast: #d8d8d8;
  --ion-color-primary-shade: #893f3f;
  --ion-color-primary-tint: #bb5a5a;

  --ion-color-medium: #786060; // used in secondary UI elements

  /* Accent */
  --ion-color-success: #4ade80; // optional highlight color (e.g. tags)
  --ion-color-danger: #ef4444;

  /* Border / Divider */
  --ion-border-color: #392424;

  /* Shadow */
  --ion-box-shadow-color: rgba(0, 0, 0, 0.3);
}

